<!DOCTYPE html>
<html>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
<head>

</head>
<body>

<form>
    <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <br>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>

</body>
</html>


<!--<?php-->

<!--<form-->
<!--        id="app"-->
<!--        @submit="checkForm"-->
<!--        action="https://vuejs.org/"-->
<!--        method="post"-->
<!--&gt;-->

<!--    <p v-if="errors.length">-->
<!--        <b>Please correct the following error(s):</b>-->
<!--    <ul>-->
<!--        <li v-for="error in errors">{{ error }}</li>-->
<!--    </ul>-->
<!--    </p>-->

<!--    <p>-->
<!--        <label for="name">Name</label>-->
<!--        <input-->
<!--                id="name"-->
<!--                v-model="name"-->
<!--                type="text"-->
<!--                name="name"-->
<!--        >-->
<!--    </p>-->

<!--    <p>-->
<!--        <label for="age">Age</label>-->
<!--        <input-->
<!--                id="age"-->
<!--                v-model="age"-->
<!--                type="number"-->
<!--                name="age"-->
<!--                min="0"-->
<!--        >-->
<!--    </p>-->

<!--    <p>-->
<!--        <label for="movie">Favorite Movie</label>-->
<!--        <select-->
<!--                id="movie"-->
<!--                v-model="movie"-->
<!--                name="movie"-->
<!--        >-->
<!--            <option>Star Wars</option>-->
<!--            <option>Vanilla Sky</option>-->
<!--            <option>Atomic Blonde</option>-->
<!--        </select>-->
<!--    </p>-->

<!--    <p>-->
<!--        <input-->
<!--                type="submit"-->
<!--                value="Submit"-->
<!--        >-->
<!--    </p>-->

<!--</form>-->
<!--?>-->